<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CRMErrorLogDirectory" value="C:\ErrorLogFiles\" />
    <!--<add key="Username" value="crmvendor@isdbwdom"/>
    <add key="Password" value="!ntertec2018"/>
    <add key="Domain" value="crmcontoso"/>
    <add key="Org" value="https://intertec.intertecsys.net/XRMServices/2011/Organization.svc"/>-->
    <add key="APIUsername" value="prodcrmapi" />
    <add key="APIPassword" value="P43Cr*m@208" />
    <add key="Username" value="cdevmaster" />
    <add key="Password" value="P@ssw0rd@1448" />
    <add key="Domain" value="alarkan" />
    <add key="Org" value="http://172.30.2.186:5555/DAARDEV/XRMServices/2011/Organization.svc" />
    <!--<add key="SystemUnitGroup" value="0B30D151-8498-4190-B76E-8F0FA8F0290C"/>
    <add key="SystemDefaultUnit" value="55BF4DA5-031E-40F1-9F60-AF97418EBB5D"/>-->
    <add key="SystemUnitGroup" value="776E9556-48BD-4D3D-BA17-A8D039A30F74" />
    <add key="SystemDefaultUnit" value="4B1F363F-6927-4194-A812-8F4B398FC995" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 11A9676F-60B4-4A12-A273-239C50012FF5-->